@using TutorApp.Web.Helper;
@model TutorApp.Web.ViewModels.ListViewModel
@if (Model != null && Model.Job != null && Model.Job.Count > 0)
{

    foreach (var job in Model.Job)
    {
        <div class="box_list wow">
            <div class="row no-gutters">
              
                <div class="col-lg-9">
                    <div class="wrapper">

                        <div class="price">
                            <i class="fas fa-map-marker-alt"></i>
                            @if (job.Location == "Out")
                            {<text>Outdoor Locations</text>}
                            @if (job.Location == "Home")
                            {<text>Teach at Home</text>}
                            @if (job.Location == "UC")
                            {<text>In University or College Premises</text>}
                            
                        </div>
                        
                        <small>Subject : @job.Course.Name</small>
                        <h3>@job.Name</h3>
                        <p>@job.Description</p>
                        <small>Request By : @job.Student.Name</small><br />
                        <small>Starting   
                        @if (job.LessonBegins == "Today") {<text>From Today</text> }
                        @if (job.LessonBegins == "Few") {<text>in a Few Days</text> }
                        @if (job.LessonBegins == "Week") {<text>with in this Week</text> } 
                        @if (job.LessonBegins == "Month") {<text>in a Month</text> } 
                            </small><br />
                        <small>Available Time : @job.Availability</small>

                    </div>
                    <ul>
                        <li><i class="icon_clock_alt"></i> @job.Date</li>
                        <li><b>Zip Code:</b> @job.ZipCode</li>
                        <li>
                            <i class="icon-phone"></i> @if (job.Student.PhoneNumber != null)
                            {
                                <text>@job.Student.PhoneNumber</text>}
                            else
                            {<text></text>
                        }
                        </li>
                        <li><i class="icon-email"></i>@if (job.Student.Email != null) {
                        <text>@job.Student.Email</text>}
                        else{<text></text>
                        }</li>


                    </ul>
                </div>
                <div class="col-lg-3">
                    <img src="@job.Course.Imageurl" width="100%" height="auto"/>
                </div>
            </div>
        </div>
        <!-- /box_list -->
    }

}

else
{
    <br />
    /**/
    <div class="alert alert-danger" role="alert">
        There are no records.
    </div>
    /**/
}
<div class="pager">
    @if (Model.Pager != null)
    {

        if (Model.Pager.CurrentPage > 1)
        {
            <a class="Pagebtn fas fa-angle-double-left" data-pageNo="1"></a>
            <a class="Pagebtn fas fa-angle-left" data-pageNo="@(Model.Pager.CurrentPage -1)"></a>
        }

        for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
        {
            string activeclass = Model.Pager.CurrentPage == page ? "active " : string.Empty;
            <a class="Pagebtn  @activeclass" data-pageNo="@page">@page</a>

        }

        if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
        {
            <a class="Pagebtn fas fa-angle-right" data-pageNo="@(Model.Pager.CurrentPage+1)"></a>
            <a class="Pagebtn fas fa-angle-double-right" data-pageNo="@Model.Pager.EndPage"></a>
        }
    }
</div>

<script>


    $(".Pagebtn").click(function() {
        $.ajax({
                url: "@Url.JobData("")",
        data:
                {
                pageNo: $(this).attr("data-pageNo")
        }
            })
        .done(function(response) {
            $("#tablecontainer").html(response);
            })
        .fail(function(XMLHttpRequest, status, errorthrown) { alert("error"); });
    });
</script>

