@model TutorApp.Web.ViewModels.ListViewModel
   
<main>
    <section class="hero_single version_2">
        <div class="wrapper">
            <div class="container">
                <h3>What would you learn?</h3>
                <p>Increase your expertise in business, technology and personal development</p>
                <form>
                    <div id="custom-search-input">
                        <div class="input-group">
                            <a class="btn btn-primary w-100">Check our Courses</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- /hero_single -->
    <div class="features clearfix">
        <div class="container">
            <ul>
                <li>
                    <i class="pe-7s-study"></i>
                    <h4 style="color:white!important;">@Model.CoursesCount</h4><span>Explore a variety of fresh topics</span>
                </li>
                <li>
                    <i class="pe-7s-cup"></i>
                    <h4 style="color:white!important;">@Model.TeacherCount</h4><span>Find the right instructor for you</span>
                </li>
                <li>
                    <i class="pe-7s-video"></i>
                    <h4 style="color:white!important;">@Model.VideoCount</h4><span>Learn from our storage of Videos</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- /features -->
    <div class="container-fluid margin_120_0">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>@Model.CompanyDetail[0].Name Popular Teachers</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
        <div id="reccomended" class="owl-carousel owl-theme">
           @foreach (var teachers in Model.Teachers)
           {
            <div class="item">
                <div class="box_grid">
                    <figure>
                        <a href="#0" class="wish_bt"></a>
                        <a href="course-detail.html"><img src="@teachers.ImageUrl" class="img-fluid" alt=""></a>
                        <div class="price">$@teachers.HoulryRate/hr</div>
                        <div class="preview"><span>Preview course</span></div>
                    </figure>
                    <div class="wrapper">
                        <small>@teachers.UndergraduateMajor From @teachers.UndergraduateCollage</small>
                        <h3>@teachers.Name @teachers.LName</h3>
                        <p>@teachers.Bio</p>
                        <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>
                    </div>
                    <ul>
                        <li><i class="icon_clock_alt"></i> @teachers.AvailableHours</li>
                        <li><i class="icon_like"></i> @teachers.Email</li>
                        <li><a href="course-detail.html">have a Look at my Profile</a></li>
                    </ul>
                </div>
            </div>
            <!-- /item -->
           }
        </div>
        <!-- /carousel -->
        <div class="container">
            <p class="btn_home_align"><a href="/Home/AvailableTeacher" class="btn_1 rounded">View all Teachers</a></p>
        </div>
        <!-- /container -->
        <hr>
    </div>
    <!-- /container -->
    <div class="container margin_30_95">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>@Model.CompanyDetail[0].Name Categories Courses</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
        <div class="row">
        @foreach (var courses in Model.Courses)
        {
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="#0" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="@courses.Imageurl" class="img-fluid" alt="">
                        <div class="info">
                            <h3>@courses.Name</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
        }
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <div class="bg_color_1">
        <div class="container margin_120_95">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>@Model.CompanyDetail[0].Name Teaching Jobs</h2>
                <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
            </div>
            <div class="row">
                @foreach (var jobs in Model.Job)
                {
                    <div class="col-lg-6">
                        <a class="box_news" href="#0">
                            <figure>
                                <img src="https://www.thoughtco.com/thmb/45XWafEdDpIzg4Ze9943GM7fMi4=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-187244393-5a980ce743a1030037ba389f.jpg" alt="">
                                <figcaption><strong>@jobs.Date.Substring(5,5).Replace("-", " ")</strong></figcaption>
                            </figure>
                            <ul>
                                <li>Student: @jobs.Student.Name</li>
                                <li>@jobs.Date</li>
                            </ul>
                            <h4>@jobs.Name</h4>
                            <p>@if (jobs.Description.Length > 150) {<text>@jobs.Description.Substring(0,150)</text> } else {<text>@jobs.Description.Substring(0,jobs.Description.Length)</text> }</p>
 

                          </a>
 

                      </div>
 

                      <!-- /box_news -->
                }
            </div>
            <!-- /row -->
            <p class="btn_home_align"><a href="/Home/TutoringJobsView" class="btn_1 rounded">View all Job Posts</a></p>
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
    <div class="call_section">
        <div class="container clearfix">
            <div class="col-lg-5 col-md-6 float-right wow" data-wow-offset="250">
                <div class="block-reveal">
                    <div class="block-vertical"></div>
                    <div class="box_1">
                        <h3>Enjoy a great students community</h3>
                        <p>We're delighted that we're doing things right according to those who matter to us most: our students. We've achieved over 90 per cent for student satisfaction.</p>
                        <a href="/Home/Accounttype" class="btn_1 rounded">Sign Up to See</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/call_section-->
</main>
<!-- /main -->
