
@model TutorApp.Web.ViewModels.ListViewModel

@{
    ViewBag.Title = "LessonTopics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .lesson {
        margin-top: 5%;
        margin-bottom: 2%;
    }

    .courses-sidebar {
        margin: 0;
        padding: 0;
    }

        .courses-sidebar a {
            font-size: 16px;
            margin-bottom: 0;
            color: #666666;
        }

        .courses-sidebar hr {
            margin-top: 1%;
            margin-bottom: 2%;
            border-color: #ddd;
            border-width: 2px;
        }

    .courses-main {
        margin-left: 1%;
    }

        .courses-main .lesson-head {
            text-align: center;
            margin-bottom: 5%;
            border-bottom: 1px solid #ddd;
        }

            .courses-main .lesson-head h2 {
                text-transform: uppercase;
                color: #81e827;
            }

            .courses-main .lesson-head h5 {
                color: #808080;
            }

            .courses-main .lesson-head p {
                text-align: left;
                margin-top: 5%;
            }

    .course-section h4 {
        text-transform: uppercase;
        color: dodgerblue;
    }

    .topic-section h3 {
        text-transform: uppercase;
        color: dodgerblue;
    }

    .topics {
        color: dodgerblue !important;
        padding: 2%;
    }

        .topics i {
            color: #808080 !important;
        }
    .side-div {
        background-color: #f2f2f2;
        padding: 10%;
        border-radius: 2px;
        margin-left: 25px;
    }
    .side-div h4{
        color:dodgerblue;
    }
</style>
<main>
    <section id="hero_in" class="contacts">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Courses @Model.CompanyDetail[0].Name</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->
    <div class="contact_info">
        <div class="container">
            <ul class="clearfix">
                <li>
                    <i class="pe-7s-map-marker"></i>
                    <h4 style="color:white;">Courses</h4>
                    <span>@Model.CoursesCount<br>Courses in Database</span>
                </li>
                <li>
                    <i class="pe-7s-mail-open-file"></i>
                    <h4 style="color:white;">Fields</h4>
                    <span>@Model.CourseFieldCount<br>Fields in Database</span>
                </li>
                <li>
                    <i class="pe-7s-phone"></i>
                    <h4 style="color:white;">Topics</h4>
                    <span>@Model.FieldTopicCount<br>Topics in Database</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="container-fluid row lesson">
     
        <div class="col-md-3 courses-sidebar">
            <div class="side-div">
                <h4>Courses</h4>
                @foreach (var courses in Model.Courses)
                {
                    <i class="icon-bookmark"></i><a href="/Home/Lesson">@courses.Name</a><br /><hr />

                }
            </div>
            <br />
            <div  class="side-div">
                <h4>Courses Fields</h4>
                @foreach (var coursesfield in Model.CourseField)
                {
                <i class="icon-bookmark"></i><a href="/Home/LessonFields/@coursesfield.ID">@coursesfield.Name</a><br /><hr />

                }
            </div>
        </div>

        <div class="col-md-8 container-fluid row courses-main">
            <div class="lesson-head col-md-12">
                <h2>@Model.SingleTopicField.Name Lesson</h2>
                <h5>Improve your self with these basic to Advance level Lessons</h5>
                <p>@Model.SingleTopicField.Description</p>
            </div>

           

               
                <div class="col-md-12 topic-section">


                    @foreach (var topicdetails in Model.TopicDetail)
                    {
                        <div class="container row">
                            <div class="col-md-12">
                                <h3>@topicdetails.Name</h3>
                                <br />
                                <p>@topicdetails.Description</p>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <img width="100%" height="auto" src="@topicdetails.Imageurl" />
                            </div>

                        </div>
                        <hr style="border-width:3px;" />
                    }

                </div>
           
        </div>
    </div>
</main>


