@using TutorApp.Web.Helper;
@model TutorApp.Web.ViewModels.ListViewModel



<form method="post" id="createFile" class="form container-fluid row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Create Form</h1><br>
        <div class="select">
            <select name="CategoryID">
                @foreach (var categ in Model.FileCategory)
                {
                    <option value="@categ.ID">
                        @categ.Name
                    </option>
                }
            </select>
        </div>
        <br />
        <div class="select">
            <select name="WriterID">
                @foreach (var teacher in Model.Teachers)
                {
                    <option value="@teacher.ID">
                        @teacher.Name
                    </option>
                }
            </select>
        </div>
        <br />

        <input type="text" name="Name" placeholder="Type Name Here" />

        <br />


        <input type="text" name="Description" placeholder="Type Description Here" class="description" />

        <br />
        <input type="date" name="Date" />

        <br />



        <input id="FileUrl" name="FilePath" type="hidden" />
        <input type="file" id="FileUpload" name="FilePath" />
        <div class="circle-loader">
            <div class="checkmark draw"></div>
        </div>
        <br />
        <label>Size:500 MB Limit</label>
        <br />
        <button type="button" id="createbtn">Create Record</button>
        <button type="button" id="cancelbtn">Cancel</button>
    </div>

</form>

<script>
    $("#cancelbtn").click(function () {
        $("#actioncontainer").html("");
    });

    $("#createbtn").attr("disabled", "disabled");
    $('.circle-loader').hide();

    $("#createbtn").click(function () {

        $.ajax({
            type: "POST",
            url: "@Url.CreateFile()",
            data: $("#createFile").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });
    });



    
    $("#FileUpload").change(function () {
        $('.circle-loader').show();
        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {
            var file = element.files[i];
            formData.append("File", file);
        }

        $.ajax({
            type: 'POST',
              url: '/Shared/UploadFile',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        })
        .done(function (response) {
            console.log(response);

            if (response.Success) {
              
                $("#FileUrl").val(response.FileUrl);
                $('.checkmark').toggle();
                $('.circle-loader').toggleClass('load-complete');
                $("#createbtn").removeAttr("disabled");
            }
            })
       .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });

    });

</script>

