@using TutorApp.Web.Helper;
@model TutorApp.Web.ViewModels.NewCourseFieldViewModels



<form method="post" id="updatecoursfiled" class="form container-fluid row">
    <div class="col-md-12">
        <h1>Edit Form</h1><br>
        <input name="ID" type="hidden" value="@Model.ID" />

        <label>Name</label>
        <input type="text" name="Name" value="@Model.Name" />

        <br />
        <label>Description</label>
        <input type="text" name="Description" value="@Model.Description" />

        <input value="@Model.CategoryID" name="CategoryID" type="hidden" />

        <br />

        <button type="button" id="updatebtn">Update Record</button>

        <button type="button" id="cancelbtn">Cancel</button>
    </div>
   
</form>

<script>
    $("#cancelbtn").click(function () {
        $("#actioncontainer").html("");
    });

    $("#updatebtn").click(function () {

        $.ajax({
            type: "POST",
            url: "@Url.EditCourseField()",
            data: $("#updatecoursfiled").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });
    });

  

</script>
