@using TutorApp.Web.Helper;
@model TutorApp.Web.ViewModels.CompanyDetailSearchViewModel
<style>
    span{
        font-size:120%;
    }
    .text-co{
        margin-bottom:2%;
        font-size:18px;
    }
    .btn-edit {
        padding: 14px 60px;
        border: none;
        color: white;
        border-radius: 5px;
        background-color: #77cc6d;
    }
    .btn-edit:hover{
        opacity:.7;
    }
</style>
@if (Model != null && Model.CompanyDetail != null && Model.CompanyDetail.Count > 0)

{
<div class="Container row">
    <div class="col-md-12" style="margin-top:3%;text-align:center;">
        <h3>Company Details</h3>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 text-center">
        <img src="@Model.CompanyDetail[0].Imageurl" />
    </div>
    <div class="col-md-5" style="margin-top:2%;">
        <br />
        <div class="text-co"><b>Name:</b> @Model.CompanyDetail[0].Name</div>

        <div class="text-co"><b>Email:</b> @Model.CompanyDetail[0].Email</div>
        <div class="text-co"><b>Address:</b> @Model.CompanyDetail[0].Address</div>
        <div class="text-co"><b>City:</b> @Model.CompanyDetail[0].City</div>
        <div class="text-co"><b>State:</b> @Model.CompanyDetail[0].State</div>
        <div class="text-co"><b>Phone Number:</b> @Model.CompanyDetail[0].PhoneNo</div>
    </div>
    <br />
    <br /><br />
    <div class="col-md-12" style="margin-top:5%;margin-bottom:5%;text-align:center;">
        <h3>About Us Page Details</h3>
    </div>
    <br /><br />
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <img src="@Model.CompanyDetail[0].AboutImage" />
    </div>
    <div class="col-md-5">
        <span>@Model.CompanyDetail[0].Description</span>
    </div>
    <div class="col-md-1"></div>
    <br />
    <div class="col-md-2"></div>
    <div class="col-md-8" style="margin-top:5%;margin-bottom:5%;text-align:center;">
        <button class="fas fa-edit btn-edit" data-id="@Model.CompanyDetail[0].ID"></button>
    </div>
</div>
            }
      

else
{
    <br />
    <div class="alert alert-danger" role="alert">
        There are no records.
    </div>
}

<script>

    $(".btn-edit").click(function() {

        $.ajax({
                url: "@Url.EditCompany()",
        data:
                {
                    ID: $(this).attr("data-id")
        }
            })
        .done(function(response) {
            $("#actioncontainer").html(response);
            })
        .fail(function(XMLHttpRequest, status, errorthrown) { alert("error"); });
    });

  

</script>

