@using TutorApp.Web.Helper;
@model TutorApp.Entities.CompanyDetails

<form method="post" id="updatecompany" class="form container-fluid row">


    <div class="col-md-2"></div>
    <div class="col-md-8 text-center">
        <h1>Edit Form</h1><br>
        <img id="imagefile" class="image" src="@Model.Imageurl" />

        <input id="ImageUrl" name="Imageurl" type="hidden" value="@Model.Imageurl" />
        <input type="file" id="ImageUpload" name="Image" />
        <br />
        <input name="ID" type="hidden" value="@Model.ID" />
        <label>Name</label>
        <input type="text" name="Name" value="@Model.Name" /><br />
        <label>Email</label>
        <input type="text" name="Email" value="@Model.Email" /><br />
        <br />
        <label>Address</label>
        <input type="text" name="Address" value="@Model.Address" /><br />
        <br />
        <label>City</label>
        <input type="text" name="City" value="@Model.City" /><br />
        <br />
        <label>State</label>
        <input type="text" name="State" value="@Model.State" /><br />
        <br />
        <label>Phone Number</label>
        <input type="text" name="PhoneNo" value="@Model.PhoneNo" /><br />
        <br />
        <label>About Us Description</label>
        <input type="text" name="Description" value="@Model.Description" /><br />
        <br />
        <label>About Us Image</label><br />
        <img id="Aboutimagefile" class="image" src="@Model.AboutImage" />

        <input id="AboutImageUrl" name="AboutImage" type="hidden" value="@Model.AboutImage" />
        <input type="file" id="AboutImageUpload" name="Image" />

        <button type="button" id="updatebtn">Update Record</button>
        <button type="button" id="cancelbtn">Cancel</button>
    </div>
  
</form>

<script>
    $("#cancelbtn").click(function () {
        $("#actioncontainer").html("");
        $([document.documentElement, document.body]).animate({
            scrolldown: $("#tablecontainer").offset().top
        }, 1000);
    });


    $("#updatebtn").click(function () {

        $.ajax({
            type: "POST",
            url: "@Url.EditCompany()",
            data: $("#updatecompany").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });

    });

    $("#ImageUpload").change(function () {

        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Imageuploader()',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        })
            .done(function (response) {

                if (response.Success) {
                    $("#imagefile").attr("src", response.ImageUrl);

                    $("#ImageUrl").val(response.ImageUrl);
                }
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });

    });

     $("#AboutImageUpload").change(function () {

        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Imageuploader()',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        })
            .done(function (response) {

                if (response.Success) {
                    $("#Aboutimagefile").attr("src", response.ImageUrl);

                    $("#AboutImageUrl").val(response.ImageUrl);
                }
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });

    });
</script>

