@using TutorApp.Web.Helper;
@model TutorApp.Web.ViewModels.ListViewModel
@{
    Layout = null;
   
}

<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Edutime">
    <meta name="author" content="Edutime">
    <link rel="icon" href="~/Content/Database_Images/57.png" type="image/x-icon">
    <title>Edutime</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/Content/backend-style.css">
    <link rel="stylesheet" href="~/Content/assets/css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="light sidebar-mini sidebar-collapse">
    <!-- Pre loader -->
    <div id="loader" class="loader">
        <div class="plane-container">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="app">
        <aside class="main-sidebar fixed offcanvas b-r sidebar-tabs" data-toggle='offcanvas'>
            <div class="sidebar">
                <div class="d-flex hv-100 align-items-stretch">
                    <div class="indigo text-white">
                        <div class="nav mt-5 pt-5 flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                               aria-controls="v-pills-home" aria-selected="true"><i class="icon-inbox2"></i></a>
                            <a class="nav-link blink skin_handle" href="#"><i class="icon-lightbulb_outline"></i></a>
                            <a href="">
                                <figure class="avatar">
                                    <img src="~/Content/assets/img/dummy/u3.png" alt="">
                                    <span class="avatar-badge online"></span>
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="tab-content flex-grow-1" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                             aria-labelledby="v-pills-home-tab">
                            <div class="relative brand-wrapper sticky b-b">
                                <div class="d-flex justify-content-between align-items-center p-3">
                                    <div class="text-xs-center">
                                        <span class="font-weight-lighter s-18">Menu</span>
                                    </div>
                                    <div class="badge badge-danger r-0">
                                        @if (Model.CompanyDetail != null && Model.CompanyDetail[0] != null)
                                        {
                                            <text> @Model.CompanyDetail[0].Name</text>
                                        }
                                        else
                                        {
                                            <text>Edutime</text>
                                        }
                                    </div>
                                </div>
                            </div>
                            <ul class="sidebar-menu">
                                <li class="treeview">
                                    <a href="Admin/Index">
                                        <i class="icon icon-sailing-boat-water s-24"></i> <span>Dashboard</span>
                                    </a>
                                </li>
                                <li class="treeview">
                                    <a href="@Url.Teacher()">

                                        <i class="icon icon icon-graduation-cap s-24"></i>
                                        <span>Teacher</span>
                                        <span class="badge r-3 badge-primary pull-right">@Model.TeacherCount</span>
                                    </a>

                                </li>
                                <li class="treeview">
                                    <a href="@Url.Student()">
                                        <i class="icon icon-account_box s-24"></i>
                                        <span>Student</span>
                                        <span class="badge r-3 badge-primary pull-right">@Model.StudentCount</span>
                                    </a>

                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="icon icon-book2 s-24"></i>
                                        <i class=" icon-angle-left  pull-right"></i>
                                        <span>Course</span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="@Url.Courses()"><i class="icon icon-play_arrow"></i>Course</a>
                                        </li>
                                        <li>
                                            <a href="@Url.CourseField()"><i class="icon icon-play_arrow"></i>Course Sub Field</a>
                                        </li>
                                        <li>
                                            <a href="@Url.FieldTopics()"><i class="icon icon-play_arrow"></i>Field Topics</a>
                                        </li>
                                        <li>
                                            <a href="@Url.TopicDetails()"><i class="icon icon-play_arrow"></i>Topic Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview ">
                                    <a href="#">
                                        <i class="icon icon-video-player  s-24"></i> <span>Video</span>
                                        <i class=" icon-angle-left  pull-right"></i>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="@Url.Video()"><i class="icon icon-play_arrow"></i>Video</a>
                                        </li>
                                        <li>
                                            <a href="@Url.VideoCategory()"><i class="icon icon-play_arrow"></i>Video Category</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="icon icon-documents s-24"></i> <span>File</span>
                                        <i class=" icon-angle-left  pull-right"></i>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="@Url.Files()"><i class="icon icon-play_arrow"></i>Files</a>
                                        </li>
                                        <li>
                                            <a href="@Url.FileCategory()"><i class="icon icon-play_arrow"></i>Files Category</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="#">
                                        <i class="icon icon-question-circle-o s-24"></i>
                                        <span>Question & Answer</span>
                                        <i class=" icon-angle-left  pull-right"></i>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li>
                                            <a href="@Url.Question()"><i class="icon icon-play_arrow"></i>Question</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Answer()"><i class="icon icon-play_arrow"></i>Answer</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="treeview">
                                    <a href="@Url.Jobs()">
                                        <i class="icon icon-user-circle s-24"></i>
                                        <span>Teaching Jobs</span>
                                        <span class="badge r-3 badge-primary pull-right">@Model.JobsCount</span>

                                    </a>
                                </li>
                                <li class="treeview">
                                    <a href="/Inbox/Index">
                                        <i class="icon icon-inbox2 s-24"></i>
                                        <span>Inbox</span>
                                        <span class="badge r-3 badge-primary pull-right">@Model.InboxCount</span>

                                    </a>
                                </li>
                                <li class="treeview">
                                    <a href="/Account/Index">
                                        <i class="icon icon-user-circle s-24"></i>
                                        <span>Admin</span>
                                        <span class="badge r-3 badge-primary pull-right">@Model.AdminCount</span>

                                    </a>
                                </li>
                                <li class="treeview">
                                    <a href="@Url.CompanyDetails()">
                                        <i class="icon icon-user-circle s-24"></i>
                                        <span>Company Information</span>

                                    </a>
                                </li>
                                <li class="treeview">
                                    <a href="/Banner/Index">
                                        <i class="icon icon-image s-24"></i>
                                        <span>Banner Images</span>

                                    </a>
                                </li>

                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </aside>

        <div class="has-sidebar-left">
            <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                        <div class="search-bar">
                            <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
                                   placeholder="start typing...">
                        </div>
                        <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
                           aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" data-toggle="push-menu" class="paper-nav-toggle left ml-2 fixed">
            <i></i>
        </a>
        <div class="has-sidebar-left has-sidebar-tabs">
            <!--navbar-->
            <div class="sticky">
                <div class="navbar navbar-expand d-flex justify-content-between bd-navbar white shadow">
                    <div class="relative">
                        <div class="d-flex">
                            <div class="d-none d-md-block">
                                <h1 class="nav-title">
                                    @if (Model.CompanyDetail != null && Model.CompanyDetail[0] != null)
                                    {
                                        <text> @Model.CompanyDetail[0].Name</text>
                                    }
                                    else
                                    {
                                        <text>Edutime</text>
                                    }
                                </h1>
                            </div>
                        </div>
                    </div>
                    <!--Top Menu Start -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages-->
                            <li class="dropdown custom-dropdown messages-menu">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <i class="icon-envelope-o"></i>
                                    <span class="badge badge-success badge-mini rounded-circle">@Model.InboxCount</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu pl-2 pr-2">
                                            <!-- start message -->
                                            @if (Model.Inbox != null)
                                            {
                                                foreach (var inbox in Model.Inbox)
                                                {

                                                    <li>
                                                        <a>
                                                            <div class="avatar float-left">
                                                                <img src="https://openclipart.org/image/2400px/svg_to_png/285440/1503577975.png" alt="@inbox.Name">
                                                                <span class="avatar-badge online"></span>
                                                            </div>
                                                            <h4>
                                                                @inbox.Email.ToUpper()
                                                                <small><i class="icon icon-clock-o"></i>@inbox.Date</small>
                                                            </h4>
                                                            <p>
                                                                @if (inbox.Message.Length > 50)
                                                                {<text>@inbox.Message.Substring(0, 50)</text>}
                                                            else
                                                            {<text>@inbox.Message.Substring(0, inbox.Message.Length)</text>}...
                                                            </p>
                                                        </a>
                                                    </li>

                                                }
                                            }
                                            else
                                            {
                                                <text>
                                                    <li>No Message Found</li>
                                                </text>
                                            }
                                        </ul>
                                    </li>
                                    <li class="footer s-12 p-2 text-center"><a href="@Model.Inbox">See All Messages</a></li>
                                </ul>
                            </li>
                            <!-- Notifications -->
                            <!-- Right Sidebar Toggle Button -->
                            <!-- User Account-->
                            <li class="dropdown custom-dropdown user user-menu ">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <img src="~/Content/assets/img/dummy/u8.png" class="user-image" alt="User Image">
                                    <i class="icon-more_vert "></i>
                                </a>
                                <div class="dropdown-menu p-4 dropdown-menu-right">
                                    <div class="row box justify-content-between my-4">


                                        <a href="#">
                                            <i class="icon-supervisor_account indigo lighten-2 avatar  r-5"></i>
                                            <div class="pt-1">
                                                @if (Session["username"] != null)
                                                {@Session["username"].ToString();
                                            }
                                            else
                                            { <text>User</text>}
                                        </div>
                                    </a>
                                    <a href="@Url.Signout()">
                                        <i class="icon-sign-out indigo lighten-2 avatar  r-5"></i>
                                        <div class="pt-1">Logout</div>
                                    </a>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--#navbar-->
        <div class="container-fluid relative animatedParent animateOnce my-3">
            @RenderBody()
        </div>
        <div class="control-sidebar-bg shadow white fixed"></div>
    </div>
</div>
<!--/#app -->

<script src="~/Content/assets/js/app.js"></script>
<script>
    $(".skin_handle").on("click", function () {
        $("body").toggleClass("theme-dark")
    });
</script>
</body>
</html>