@using TutorApp.Web.Helper;
@model TutorApp.Web.ViewModels.ListViewModel



<form method="post" id="createteacher" class="form container-fluid row">

    <div class="col-md-7">
        <h1>Create Form</h1><br>
        <div class="select">
            <select name="TeachingSubjectID">
                @foreach (var categ in Model.CourseField)
                {
                    <option value="@categ.ID">
                        @categ.Name
                    </option>
                }
            </select>
        </div>
        <br />

        <input type="text" name="Name" placeholder="Type First Name Here" />

        <br />


        <input type="text" name="LName" placeholder="Type Last Name Here" />

        <br />

        <input type="text" name="Email" placeholder="Type Email Here" />

        <br />
        <input type="text" name="Password" placeholder="Type Password Here" />

        <br />
        <label>Is Teacher?</label><br />
        <input type="radio" name="IsTeacher" value="True" id="featuretrue" /><label for="featuretrue">True</label>
        <input type="radio" name="IsTeacher" value="False" id="featurefalse" /><label for="featurefalse">False</label>
        <br />
        <div class="select">
            <select name="Experience">
                <option value="-1">
                    Select Teaching Experience
                </option>
                @for (var i = 0; i < 16; i++)
                {
                    <option value="@i">
                        @i year
                    </option>
                }
                <option value="15+">
                    15+ years
                </option>
            </select>
        </div>

        <br />
        <div class="select">
            <select name="StudentType">
                <option value="-1">
                    Select Student Level
                </option>
                <option value="School">
                    School
                </option>

                <option value="MidSchool">
                    Mid School
                </option>

                <option value="HigherSchool">
                    Higher School
                </option>

                <option value="College">
                    College
                </option>

                <option value="Undergraduate">
                    Undergraduate
                </option>

                <option value="Graduate">
                    Graduate
                </option>
            </select>
        </div>
        <br />
        <div class="select">
            <select name="LessonLocation">
                <option value="-1">
                    Select Meeting Location
                </option>
                <option value="Home">
                    Home
                </option>

                <option value="Outside">
                    Outside
                </option>

                <option value="Online">
                    Online
                </option>

            </select>
        </div>

        <br />
        <div class="select">

            <select name="AvailableHours">
                <option value="-1">
                    Select Available Hours
                </option>
                @for (var i = 2; i < 9; i++)
                {
                    <option value="@i">
                        @i Hours
                    </option>
                }
            </select>
        </div>
        <br />
        <div class="select">
            <select name="Gender">
                <option value="-1">
                    Select Gender
                </option>
                <option value="Male">
                    Male
                </option>
                <option value="Female">
                    Female
                </option>

            </select>
        </div>

        <br />
        <input type="date" name="DOB" />
        <br />
        <input type="text" name="UndergraduateCollage" placeholder="Type Undergraduate Collage Here" />

        <br />
        <input type="text" name="UndergraduateMajor" placeholder="Type Undergraduate Major Here" />

        <br />
        <input type="text" name="GraduateCollage" placeholder="Type Graduate Collage Here" />

        <br />
        <input type="text" name="GraduateDegree" placeholder="Type Graduate Degree Here" />

        <br />
        <input type="text" name="GraduateCollage2" placeholder="Type Graduate Collage 2 Here" />

        <br />
        <input type="text" name="GraduateDegree2" placeholder="Type Graduate Degree 2 Here" />

        <br />
        <div class="select">

            <select name="HoulryRate">
                <option value="-1">
                    Select Houlry Rate
                </option>
                @for (var i = 5; i < 500; i+=5)
                {
                    <option value="@i">
                        @i $
                    </option>
                }
            </select>
            </div>
            <br />
            <input type="text" name="PhoneNumber" placeholder="Type PhoneNumber Here" />

            <br />
            <input type="text" name="Address" placeholder="Type Address Here" />

            <br />
            <input type="text" name="City" placeholder="Type City Here" />

            <br />
            <input type="text" name="State" placeholder="Type State Here" />

            <br />
            <input type="text" name="Country" placeholder="Type Country Here" />

            <br />
            <input type="text" name="ZipCode" placeholder="Type Zip Code Here" />

            <br />
            <input type="text" name="Bio" placeholder="Type Bio Detail Here" />

            <br />
            <input id="ImageUrl" name="ImageUrl" type="hidden" />
            <input type="file" id="ImageUpload" name="Image" />

            <br />
            <button type="button" id="createbtn">Create Record</button>
            <button type="button" id="cancelbtn">Cancel</button>
        </div>
        <div class="col-md-5 row">
            <br /><br /><br /><br /><br /><br />
            <img id="imagefile" class="image" src="https://vignette.wikia.nocookie.net/undertale-rho/images/5/5f/Placeholder.jpg/revision/latest?cb=20180213155916">


        </div>
</form>

<script>
    $("#cancelbtn").click(function () {
        $("#actioncontainer").html("");
    });


    $("#createbtn").click(function () {

        $.ajax({
            type: "POST",
            url: "@Url.CreateTeachers()",
            data: $("#createteacher").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });
    });

      $("#ImageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Imageuploader()',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        })
            .done(function (response) {
                console.log(response);

                if (response.Success) {
                    $("#imagefile").attr("src", response.ImageUrl);

                    $("#ImageUrl").val(response.ImageUrl);
                }
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });

    });

</script>


