@using TutorApp.Web.Helper;
@model TutorApp.Web.ViewModels.NewVideoViewModels



<form method="post" id="updateVideo" class="form container-fluid row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1>Edit Form</h1><br>
        <div style="text-align:center">
            <img id="imagefile" class="image" src="@Model.ImageUrl">

            <br />
            <input id="ImageUrl" name="ImageUrl" type="hidden" value="@Model.ImageUrl" />
            <input type="file" id="ImageUpload" name="Image" />
            <label>Video Cover</label>
            <br />
        </div>
        <input name="ID" type="hidden" value="@Model.ID" />

        <label>Name</label>
        <input type="text" name="Name" value="@Model.Name" />

        <br />
        <label>Description</label>
        <input type="text" name="Description" value="@Model.Description" class="description" />

        <br />
        <label>Date</label>
        <input type="date" name="Date" value="@Model.Date" />

        <br />
        <label>Likes</label>
        <input type="text" name="Likes" value="@Model.Likes" />




        <input value="@Model.WriterID" name="WriterID" type="hidden" />

        <input value="@Model.CategoryID" name="CategoryID" type="hidden" />

        <br />

        <input id="VideoUrl" name="FilePath" type="hidden" value="@Model.FilePath" />
        <input type="file" id="VideoUpload" name="FilePath" /><br />
        <label class="size">500MB Size Limit</label>
        <br />
        <button type="button" id="updatebtn">Update Record</button>

        <button type="button" id="cancelbtn">Cancel</button>
    </div>

</form>

<script>
    $("#cancelbtn").click(function () {
        $("#actioncontainer").html("");
    });

    $("#updatebtn").click(function () {

        $.ajax({
            type: "POST",
            url: "@Url.EditVideo()",
            data: $("#updateVideo").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });
    });

 $("#VideoUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {
            var file = element.files[i];
            formData.append("Video", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Videouploader()',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        })
        .done(function (response) {
            console.log(response);

            if (response.Success) {

                $("#VideoUrl").val(response.VideoUrl);
            }
            })
       .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });

    });

    
      $("#ImageUpload").change(function () {
        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Imageuploader()',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        })
            .done(function (response) {
                console.log(response);

                if (response.Success) {
                    $("#imagefile").attr("src", response.ImageUrl);

                    $("#ImageUrl").val(response.ImageUrl);
                }
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });

    });


</script>


