@using TutorApp.Web.Helper;
@model TutorApp.Web.ViewModels.NewTopicDetailViewModels
<h2>Operations</h2>
<form method="post" id="updateTopicDetail" class="form container-fluid row">


    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h1>Edit Form</h1><br>

        <input name="ID" type="hidden" value="@Model.ID" />
        <label>Name</label>
        <input type="text" name="Name" value="@Model.Name" /><br />
        <label>Description</label>
        <input type="text" name="Description" value="@Model.Description" />

        <input value="@Model.CategoryID" name="CategoryID" type="hidden" />
        <br />
        <br />
        <input id="ImageUrl" name="Imageurl" type="hidden" value="@Model.Imageurl" />
        <input type="file" id="ImageUpload" name="Image" />
        <br />
        <button type="button" id="updatebtn">Update Record</button>
        <button type="button" id="cancelbtn">Cancel</button>
    </div>
    <div class="col-md-4">
        <br /><br />
        <img id="imagefile" class="image" src="@Model.Imageurl" />
    </div>

</form>

<script>
    $("#cancelbtn").click(function () {
        $("#actioncontainer").html("");
        $([document.documentElement, document.body]).animate({
            scrolldown: $("#tablecontainer").offset().top
        }, 1000);
    });


    $("#updatebtn").click(function () {

        $.ajax({
            type: "POST",
            url: "@Url.EditTopicDetails()",
            data: $("#updateTopicDetail").serialize()
        })
            .done(function (response) {
                $("#tablecontainer").html(response);
                $("#actioncontainer").html("");
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });

    });

    $("#ImageUpload").change(function () {

        var element = this;
        var formData = new FormData();
        var totalfiles = element.files.length;

        for (var i = 0; i < totalfiles; i++) {
            var file = element.files[i];
            formData.append("Photo", file);
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Imageuploader()',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false

        })
            .done(function (response) {

                if (response.Success) {
                    $("#imagefile").attr("src", response.ImageUrl);

                    $("#ImageUrl").val(response.ImageUrl);
                }
            })
            .fail(function (XMLHttpRequest, status, errorthrown) { alert("error"); });

    });
</script>

