@using TutorApp.Web.Helper;
@model TutorApp.Web.ViewModels.JobSearchViewModel
@{


    int i = 0;
}
@if (Model != null && Model.Job != null && Model.Job.Count > 0)

{
    <table id="table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>Grading Level</th>
                <th>Location</th>
                <th>Lesson Begins</th>
                <th>Availability</th>
                <th>Student</th>
                <th>Course</th>


                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var Job in Model.Job)
            {

                i++;
            <tr>
                <td>@i</td>
                <td>@Job.Name</td>
                <td>@Job.Description</td>
                <td>@Job.Date</td>
                <td>@Job.GradingLevel</td>

                <td>@Job.Location</td>

                <td>@Job.LessonBegins</td>
                <td>@Job.Availability</td>
                <td>
                    @if (Job.Student != null)
                    {<text>@Job.Student.Name</text> }
                else
                { <text></text>}
                </td>
                <td>
                    @if (Job.Course != null)
                    {<text>@Job.Course.Name</text> }
                else
                { <text></text>}
                </td>


                <td>
                    <button class="editbtn fas fa-edit" data-id="@Job.ID"></button>
                    <button class="deletebtn fas fa-trash-alt" data-id="@Job.ID"></button>
                </td>
            </tr>
            }
        </tbody>
    </table>

}
else
{
    <br />
    <div class="alert alert-danger" role="alert">
        There are no records.
    </div>
}
<div class="pager">
    @if (Model.Pager != null)
    {

        if (Model.Pager.CurrentPage > 1)
        {
            <a class="Pagebtn fas fa-angle-double-left" data-pageNo="1"></a>
            <a class="Pagebtn fas fa-angle-left" data-pageNo="@(Model.Pager.CurrentPage -1)"></a>
        }

        for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
        {
            string activeclass = Model.Pager.CurrentPage == page ? "active " : string.Empty;
            <a class="Pagebtn @activeclass" data-pageNo="@page">@page</a>

        }

        if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
        {
            <a class="Pagebtn fas fa-angle-right" data-pageNo="@(Model.Pager.CurrentPage+1)"></a>
            <a class="Pagebtn fas fa-angle-double-right" data-pageNo="@Model.Pager.EndPage"></a>
        }
    }
</div>

<script>

    $(".Pagebtn").click(function() {
        $.ajax({
                url: "@Url.JobsTable("")",
        data:
                {
                pageNo: $(this).attr("data-pageNo")
        }
            })
        .done(function(response) {
            $("#tablecontainer").html(response);
            })
        .fail(function(XMLHttpRequest, status, errorthrown) { alert("error"); });
    });



    $(".editbtn").click(function() {

        $.ajax({
                url: "@Url.EditJob()",
        data:
                {
                    ID: $(this).attr("data-id")
        }
            })
        .done(function(response) {
            $("#actioncontainer").html(response);
            })
        .fail(function(XMLHttpRequest, status, errorthrown) { alert("error"); });
    });

    $(".deletebtn").click(function() {
        var confirmation = confirm("Are you sure you want to delete");
        if (confirmation)
        {

        $.ajax({
                type: "POST",
        url: "@Url.DeleteJob()",
        data:
                {
                    ID: $(this).attr("data-id")
        }
            })
        .done(function(response) {
            $("#tablecontainer").html(response);
            })
        .fail(function(XMLHttpRequest, status, errorthrown) { alert("error"); });
        }
    });



</script>

